<div class="container">
  <div class="news">
    <mat-card-title>
      <h1>{{ oneNews.title }}</h1>
      <span>{{ oneNews.date }}</span>
    </mat-card-title>
    <mat-card-content>
      <p>
        {{ oneNews.description }}
      </p>
      <h3>Comments</h3>
      <div>
        <mat-card *ngFor="let comment of comments">
          <mat-card-content>
            <span>Author:  <i>{{ comment.author | name }}</i></span>
            <p>{{ comment.comment }}</p>
            <button mat-button color="primary" (click)="removeComment(comment.id, oneNews.id)">Delete</button>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <app-comment-create [id]=oneNews.id></app-comment-create>
  </div>
</div>

