<form fxLayout="row" #f="ngForm" (ngSubmit)="sendNews()">
  <h2>Add news</h2>
  <div class="form-body">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Post title</mat-label>
      <input matInput placeholder="Post title" ngModel name="title">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Post description</mat-label>
      <textarea matInput placeholder="Post description" ngModel name="description" required></textarea>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Post image</mat-label>
      <app-file-input ngModel name="image"></app-file-input>
    </mat-form-field>
  </div>
  <button mat-stroked-button type="submit" color="primary">ADD</button>
  <div>
  </div>
</form>
