<form fxLayout="row" #f=ngForm (ngSubmit)="addComment()">
  <h2>Add comment</h2>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Your name</mat-label>
      <input matInput placeholder="Enter your name" ngModel name="author">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Your comment</mat-label>
      <textarea matInput placeholder="Enter your message" ngModel name="comment"></textarea>
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button type="submit" color="primary">ADD</button>
  </div>
</form>
