<div class="container">
  <div class="news">
    <mat-card-title>
      <h1>News block</h1>
      <a routerLink="/createNews" mat-flat-button color="primary">Add news</a>
    </mat-card-title>
    <mat-card *ngFor="let oneNews of news">
      <mat-card-title>
        <img mat-card-image [src]="getImage(oneNews.image)" alt="News image">
        <h3>{{ oneNews.title }}</h3>
      </mat-card-title>
      <mat-card-content>
        <p>{{ oneNews.description }}</p>
        <span>{{ oneNews.date }}</span>
        <button mat-button color="primary" (click)="removeNews(oneNews.id)">Delete</button>
        <a [routerLink]="oneNews.id">Read news</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

