mat-card
  margin-bottom: 20px

mat-card-title
  margin-bottom: 40px
  background: ivory
  padding: 20px

.news
  max-width: 500px
  margin: 0 auto
  border: 1px solid black
  border-radius: 3px
  padding: 20px
